.nav {
  background-color: #333;
  overflow: hidden;
  height: 70px;
  position: relative;
}

.myProfile {
  width: 200px;
  height: 40px;
  position: absolute;
  right: 1%;
  top: 10px;
  color: #120f0f;
  text-decoration: none;
  font-size: 17px;
  background-color: #256d85;
  border: none;
  border-radius: 15px;
  font-size: larger;
}

.myProfile:hover {
  background-color: #8fe3cf;
}
.deleteButton {
  height: 50px;
  width: 100px;
  font-size: 30px;
  margin-top: 17px;
  border: none;
  background-color: transparent;
}
.fa-trash:hover {
  color: red;
}
hr {
  border: 4px solid #333;
}
